
html,body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x:hidden;
}
#me p{
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;

}
h3{
  font-size: 30px;
  color: white;
  text-align: center;
}
#nav_container
{
  width:400px;
  height:60px;
  background:#2980b9;
  margin:0 auto;
  border-radius:20px;
  text-align:center;
  margin-top:60px;
  padding-left: 30px;
  box-shadow:0px 5px 0px #87561f, 0px 0px 7px black;
}
nav span
{
 /* margin-left: 30%; */
  font-size:20px;
  color:white;
  font-family:sans-serif;
  position:relative;top:13px;
  padding:20px 0px 20px 0px;
  cursor:pointer;
}
nav span:active
{
  opacity:0.3;
}
a{
  text-decoration: none;
}
#me img{
  height: auto;
  width: 200px;
  height: 200px;
  margin: 0 0 0 0;
  border-radius: 50%;
  justify-content: space-around;
 margin-left: 500px;
  
}
.tech{
  border-radius: 8px;
  height: 400px;
  width: 500px;
}
#display{
  
  font-size: 1.3em;
  text-align: center;
  margin-top: 80px;
  margin-right: 100px;
  font-size: 50px;

  
}
h2{
  margin-left:1000px;
  -webkit-margin-before: 0;
  color:hsl(0, 3%, 88%); 
  font-size: 20px;
  text-align: center;
  width: 600px;
  
}


.work-done{
  border-radius: 8px;
  height: 200px;
  width: 300px;

}
.move{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: hsl(209, 89%, 44%);    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: hsl(214, 89%, 44%);    }
}
header{
  height: 600px;
  background-image: url('images/ty.jpg');
  background-size: cover;
}
.column{
  padding: 20px;
  margin: 10px 10px 10px 0;
}
.mimi{
  margin-top: 100px;
  margin-right: 300px;
}
.mimi h2{
  color:white;
  margin-left: 500px;
}
#intro {
  background-color:lightblack;
  color: white;
  position: fixed;
  font-size: 15px;
  margin-left: 50px;
  

}
#intro a{
  float:left;
  text-align:left;
  padding: 10px 12px 10px;
  text-decoration: none;
  font-size: 14px;
  color: white;
 
}
#intro a.active{
  background-color:white;
  color:white;
}
#me{
  font-size: 30px;
  background-color:white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  
}
#done a{
  text-decoration: none;
  color: yellow;

}

#skills{
  background-image:url('images/code.jpg') ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  
  color: white;
  flex: 1;
  margin-right: 0;
  font-size: 20px;
  padding-bottom: 40px;
}
h2{
  text-align:center;
}
.tech{
  height: 100px;
  width: 100px;
  margin-left: 200px;
}
#done{
  /* background-image: url('images/bute.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color:#1E4258;
  color:white;
  font-size: 20px;
  padding: 5px;
}
.last{
  height: 200px;
  width: 300px;
}
#but{

  float: right;
  border-radius: 50%;
  background-color: blue;
  color: white;
}
footer{
  background:url('images/bute.jpeg');
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  
}
button{
  padding: 10px;
  
}
